@import "headerfooter.scss";

/* -------------- La note enchantée ------------- */

#menulanoteenchantee .entree_menu, #menulanoteenchantee .plat_menu, #menulanoteenchantee .dessert_menu{
    margin: 0% 8% 8% 8% 8%;
}


#menulanoteenchantee{
    background-color: #fcdfdb;
    width: 80%;
    margin-top: 80px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-family: 'Playball', cursive;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: 1px 1px 12px #555;
}

#menulechicalafrancaise{
    background-color: #fff5fe;
    width: 80%;
    margin-top: 80px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-family: 'Roboto Slab', cursive;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: 0.5px 0.5px 10px #555;
}

#menudelicedespapilles{
    background-color: #fff5fe;
    width: 80%;
    margin-top: 80px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-family: 'Dancing Script', cursive;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: 0.5px 0.5px 10px #555;
}

#menulapalettedugout{
    background-color: #fdfffd;
    width: 80%;
    margin-top: 80px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-family: 'Kaushan Script', cursive;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: 0.5px 0.5px 10px #555;
}


h3{
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.nommenu{
    text-align: center;
    font-size: 3.8em;
    margin-top: 80px;
    margin-bottom: 110px;
}

.entree_menu{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 110px;
    padding-left: 80px;
    padding-right: 80px;
}

.plat_menu{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 110px;
    padding-left: 80px;
    padding-right: 80px;
}

.dessert_menu{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 110px;
    padding-left: 80px;
    padding-right: 80px;
}

.lignemenu p{
    display: flex;
    flex-direction: row;
    float: left;
    width: 75%;
    justify-content: space-between;
    text-align: center;
}

.lignemenu em{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    float: right;
    width: 25%;
}


.nommenubas{
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
}

.nommenubas img{
    margin: auto 40px;
    height: 80px;
    width: 80px;
    padding-top: 75px;
}

.nommenubas h5{
    font-size: 4em;
}

/* ----------------- couleurs menus ---------------- */

#menulechicalafrancaise .entree_menu{
    color: #c16800;
}

#menulechicalafrancaise .plat_menu{
    color: #a56799;
}

#menulechicalafrancaise .dessert_menu{
    color: #6e4ccc;
}

/* -------------- traits menus -------------------*/
.titre_entree, .titre_plat, .titre_dessert{
    display: flex;
    flex-direction: row;
}

#menulapalettedugout img{
    margin: 2%;
}

#menulanoteenchantee img{
    margin: 2%;
}

#menudelicedespapilles img{
    margin: 2%;
}

#menulechicalafrancaise img{
    margin: 2%;
}