@import "headerfooter.scss";

/* -------------- La note enchantée ------------- */

#menulanoteenchantee .entree_menu, #menulanoteenchantee .plat_menu, #menulanoteenchantee .dessert_menu{
    margin: 0% 8% 8% 8% 8%;
}


#menulanoteenchantee{
    background-color: #fcdfdb;
    width: 80%;
    margin-top: 80px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-family: 'Playball', cursive;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: 1px 1px 12px #555;
}

#menulechicalafrancaise{
    background-color: #fff5fe;
    width: 80%;
    margin-top: 80px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-family: 'Roboto Slab', cursive;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: 0.5px 0.5px 10px #555;
}

/* dégradé titre */
#menulechicalafrancaise h2{
    background-image: linear-gradient(155deg, #dc8527, #9f63d3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

#menudelicedespapilles{
    background-color: #fff5fe;
    width: 80%;
    margin-top: 80px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-family: 'Dancing Script', cursive;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: 0.5px 0.5px 10px #555;
}

/* dégradé titre */ 
#menudelicedespapilles h2{
    background-image: linear-gradient(155deg, #0023db, #50a9f8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

#menulapalettedugout{
    background-color: #fdfffd;
    width: 80%;
    margin-top: 80px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-family: 'Kaushan Script', cursive;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: 0.5px 0.5px 10px #555;
}

/* dégradé titre */
#menulapalettedugout h2{
    background-image: linear-gradient(150deg, #3e923a, #ccfd9c);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

h3{
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 3em;
    justify-content: center;
}

p{
    font-size: 2em;
}

em{
    font-size: 2em;
}

h2{
    font-size: 6em;
}

img{
    height: auto;
}

.titre_entree, .titre_plat, .titre_dessert{
    margin-bottom: 35px;
}

p, em{
    margin-bottom: 17px;
}

.nommenu{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 110px;
}

.entree_menu{
    text-align: center;
    margin-bottom: 110px;
    padding-left: 80px;
    padding-right: 80px;
}

.plat_menu{
    text-align: center;
    margin-bottom: 110px;
    padding-left: 80px;
    padding-right: 80px;
}

.dessert_menu{
    text-align: center;
    margin-bottom: 110px;
    padding-left: 80px;
    padding-right: 80px;
}

.lignemenu p{
    display: flex;
    flex-direction: row;
    float: left;
    width: 75%;
    justify-content: space-between;
    text-align: left;
}

.lignemenu em{
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    float: right;
    width: 25%;
}


.nommenubas{
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
}

.nommenubas img{
    margin: auto 40px;
    height: 80px;
    width: 80px;
    padding-top: 75px;
}

.nommenubas h5{
    font-size: 4em;
}

/* ----------------- couleurs menus ---------------- */

#menulechicalafrancaise .entree_menu{
    color: #c16800;
}

#menulechicalafrancaise .plat_menu{
    color: #a56799;
}

#menulechicalafrancaise .dessert_menu{
    color: #6e4ccc;
}

/* -------------- traits menus -------------------*/
.titre_entree, .titre_plat, .titre_dessert{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#menulapalettedugout img, #menulanoteenchantee img, #menudelicedespapilles img, #menulechicalafrancaise img{
    margin: 2%;
}


/* ------------ anim soulignement menu titres ------------ */
.titre_entree, .titre_plat, .titre_dessert{
    h3.left{
    position: relative;
    }

    h3.left:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(250, 206, 9);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    }

    h3.left:hover:before {
    visibility: visible;
    width: 100%;
    }
}  

/* ----------------------- RESPONSIVE ----------------------- */ 

@media only screen and (max-width: 1200px){
    #menulechicalafrancaise img, #menulanoteenchantee img, #menulapalettedugout img, #menudelicedespapilles img{
        width: auto;
        overflow: hidden;
    }
    #menulechicalafrancaise h2, #menulanoteenchantee h2, #menulapalettedugout h2, #menudelicedespapilles h2{
        font-size: 3.5em;
    }
    #menulachicalafrancaise h3, #menulanoteenchantee h3, #menulapalettedugout h3, #menudelicedespapilles h3{
        font-size: 2.5em;
    }
    #menulachicalafrancaise p, #menulanoteenchantee p, #menulapalettedugout p, #menudelicedespapilles p{
        font-size: 2em;
    }
    #menulachicalafrancaise em, #menulanoteenchantee em, #menulapalettedugout em, #menudelicedespapilles em{
        font-size: 2em;
    }

    
}

@media only screen and (max-width: 1200px){
    body{
        font-size: 80%;
    }
    #lignemenu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 500px){
    body{
        font-size: 50%;
    }
    .entree_menu, .plat_menu, .dessert_menu{
        padding-left: 30px;
        padding-right: 30px;
    }
}